@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: arial, "Microsoft YaHei", "PingFang SC", sans-serif;
  font-size: $em-base;
  line-height: $lh-base;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}